---
http_interactions:
- request:
    method: get
    uri: http://api.mixcloud.com/spartacus/cloudcasts/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"paging\": {\n        \"previous\": \"http://api.mixcloud.com/spartacus/cloudcasts/?limit=20&since=2014-09-10+14%3A42%3A03\"\n
        \   }, \n    \"data\": [\n        {\n            \"tags\": [\n                {\n
        \                   \"url\": \"https://www.mixcloud.com/discover/chillout/\",
        \n                    \"name\": \"Chillout\", \n                    \"key\":
        \"/discover/chillout/\"\n                }, \n                {\n                    \"url\":
        \"https://www.mixcloud.com/discover/soundtrack/\", \n                    \"name\":
        \"Soundtrack\", \n                    \"key\": \"/discover/soundtrack/\"\n
        \               }, \n                {\n                    \"url\": \"https://www.mixcloud.com/discover/modern-classical/\",
        \n                    \"name\": \"Modern classical\", \n                    \"key\":
        \"/discover/modern-classical/\"\n                }\n            ], \n            \"play_count\":
        962, \n            \"user\": {\n                \"url\": \"https://www.mixcloud.com/spartacus/\",
        \n                \"username\": \"spartacus\", \n                \"name\":
        \"Spartacus\", \n                \"key\": \"/spartacus/\", \n                \"pictures\":
        {\n                    \"medium\": \"https://thumbnailer.mixcloud.com/unsafe/100x100/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"320wx320h\": \"https://thumbnailer.mixcloud.com/unsafe/320x320/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"extra_large\": \"https://thumbnailer.mixcloud.com/unsafe/600x600/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"large\": \"https://thumbnailer.mixcloud.com/unsafe/300x300/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"640wx640h\": \"https://thumbnailer.mixcloud.com/unsafe/640x640/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"medium_mobile\": \"https://thumbnailer.mixcloud.com/unsafe/80x80/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"small\": \"https://thumbnailer.mixcloud.com/unsafe/25x25/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"thumbnail\": \"https://thumbnailer.mixcloud.com/unsafe/50x50/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\"\n
        \               }\n            }, \n            \"key\": \"/spartacus/cinematic-soundscapes/\",
        \n            \"created_time\": \"2014-09-10T14:42:03Z\", \n            \"audio_length\":
        2631, \n            \"slug\": \"cinematic-soundscapes\", \n            \"favorite_count\":
        35, \n            \"listener_count\": 283, \n            \"name\": \"Cinematic
        Soundscapes\", \n            \"url\": \"https://www.mixcloud.com/spartacus/cinematic-soundscapes/\",
        \n            \"pictures\": {\n                \"medium\": \"https://thumbnailer.mixcloud.com/unsafe/100x100/extaudio/1/a/6/1/eaa7-151a-48a9-96f6-12df7773a25d.jpg\",
        \n                \"768wx768h\": \"https://thumbnailer.mixcloud.com/unsafe/768x768/extaudio/1/a/6/1/eaa7-151a-48a9-96f6-12df7773a25d.jpg\",
        \n                \[...]
