---
http_interactions:
- request:
    method: get
    uri: http://api.mixcloud.com/spartacus/comments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"paging\": {\n        \"previous\": \"http://api.mixcloud.com/spartacus/comments/?limit=20&since=2016-11-08+21%3A29%3A18\",
        \n        \"next\": \"http://api.mixcloud.com/spartacus/comments/?limit=20&until=2010-03-29+19%3A12%3A50\"\n
        \   }, \n    \"data\": [\n        {\n            \"url\": \"https://www.mixcloud.com/comments/cr/204/28/#c8955637\",
        \n            \"submit_date\": \"2016-11-08T21:29:18Z\", \n            \"comment\":
        \"Hey! Thks for all your support, comments, time you give to listen my own
        definition of a dj mix and what kind of stuff i put in! 25 NEW TRACKS released
        this last days, with ROMAN FLUGEL, STEVE HAUSCHILDT, PANGAEA & FOUR TET  for
        the emotive ambient part, DISTANCE, RESOE, FALTY DL, LURKA, MAELSTROM, STRUCTION,
        CLOUDS and LOFT for the sub bass / heavy beats under a grime/dubstep/technoid
        approach. On psychedelia side, CONRAD SCHNITZLER share tapes recording from
        1975, CARLA DAL FORNO is perfect, but the heavy stone comes with the re-issue
        of SVEN GRUNBERG classic \\\"HINGUS\\\", and the 17mns amazing \\\"VALGUSOIS\\\"(1981),
        mash in here with a new track from TOM YORKE and this bass line who sampled
        feet so well with this WTF journey!!  JABU & SKRS, CONTRASTATE and K.A. SMITH
        success to mix IDM & engaging lyrics, and we've got 2 unmissable pastoral
        cheesy tracks ( TWINKIDS & PATTERN FORMS) to land & keep floating in the same
        time, after sex feeling...My sound dealers got the best dope, i tell you!\",
        \n            \"user\": {\n                \"url\": \"https://www.mixcloud.com/TheVietnameseSpaceProgram/\",
        \n                \"username\": \"TheVietnameseSpaceProgram\", \n                \"name\":
        \"The Vietnamese Space Program\", \n                \"key\": \"/TheVietnameseSpaceProgram/\",
        \n                \"pictures\": {\n                    \"medium\": \"https://thumbnailer.mixcloud.com/unsafe/100x100/profile/6/5/2/3/917a-0a7e-40e9-af43-b6eb22dfac63\",
        \n                    \"320wx320h\": \"https://thumbnailer.mixcloud.com/unsafe/320x320/profile/6/5/2/3/917a-0a7e-40e9-af43-b6eb22dfac63\",
        \n                    \"extra_large\": \"https://thumbnailer.mixcloud.com/unsafe/600x600/profile/6/5/2/3/917a-0a7e-40e9-af43-b6eb22dfac63\",
        \n                    \"large\": \"https://thumbnailer.mixcloud.com/unsafe/300x300/profile/6/5/2/3/917a-0a7e-40e9-af43-b6eb22dfac63\",
        \n                    \"640wx640h\": \"https://thumbnailer.mixcloud.com/unsafe/640x640/profile/6/5/2/3/917a-0a7e-40e9-af43-b6eb22dfac63\",
        \n                    \"medium_mobile\": \"https://thumbnailer.mixcloud.com/unsafe/80x80/profile/6/5/2/3/917a-0a7e-40e9-af43-b6eb22dfac63\",
        \n                    \"small\": \"https://thumbnailer.mixcloud.com/unsafe/25x25/profile/6/5/2/3/917a-0a7e-40e9-af43-b6eb22dfac63\",
        \n                    \"thumbnail\": \"https://thumbnailer.mixcloud.com/unsafe/50x50/profile/6/5/2/3/917a-0a7e-40e9-af43-b6eb22dfac63\"\n
        \               }\n            }, \n            \"key\": \"/comments/cr/204/28/c8955637/\"\n
        \       }, \n        {\n            \"url\": \"https://www.mixcloud.com/comments/cr/204/28/#c8028326\",
        \n            \"submit_date\": \"2016-05-30T15:45:10Z\", \n            \"comment\":
        \"Hi music lover, I think you like this :)\\nhttps://www.mixcloud.com/planticon/sound[...]
