---
http_interactions:
- request:
    method: get
    uri: http://api.mixcloud.com/spartacus/favorites/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"paging\": {\n        \"previous\": \"http://api.mixcloud.com/spartacus/favorites/?limit=20&since=2017-09-29+08%3A45%3A18\",
        \n        \"next\": \"http://api.mixcloud.com/spartacus/favorites/?limit=20&until=2015-04-29+18%3A59%3A19\"\n
        \   }, \n    \"data\": [\n        {\n            \"tags\": [\n                {\n
        \                   \"url\": \"https://www.mixcloud.com/discover/electronica/\",
        \n                    \"name\": \"Electronica\", \n                    \"key\":
        \"/discover/electronica/\"\n                }, \n                {\n                    \"url\":
        \"https://www.mixcloud.com/discover/deep-techno/\", \n                    \"name\":
        \"Deep techno\", \n                    \"key\": \"/discover/deep-techno/\"\n
        \               }, \n                {\n                    \"url\": \"https://www.mixcloud.com/discover/minimal/\",
        \n                    \"name\": \"Minimal\", \n                    \"key\":
        \"/discover/minimal/\"\n                }, \n                {\n                    \"url\":
        \"https://www.mixcloud.com/discover/melodic-techno/\", \n                    \"name\":
        \"Melodic techno\", \n                    \"key\": \"/discover/melodic-techno/\"\n
        \               }, \n                {\n                    \"url\": \"https://www.mixcloud.com/discover/techno/\",
        \n                    \"name\": \"Techno\", \n                    \"key\":
        \"/discover/techno/\"\n                }\n            ], \n            \"play_count\":
        4758, \n            \"user\": {\n                \"url\": \"https://www.mixcloud.com/boci/\",
        \n                \"username\": \"boci\", \n                \"name\": \"B\\u00d8C\",
        \n                \"key\": \"/boci/\", \n                \"pictures\": {\n
        \                   \"medium\": \"https://thumbnailer.mixcloud.com/unsafe/100x100/profile/7/4/2/9/b4c2-b404-433d-a0a7-7d245551bafb\",
        \n                    \"320wx320h\": \"https://thumbnailer.mixcloud.com/unsafe/320x320/profile/7/4/2/9/b4c2-b404-433d-a0a7-7d245551bafb\",
        \n                    \"extra_large\": \"https://thumbnailer.mixcloud.com/unsafe/600x600/profile/7/4/2/9/b4c2-b404-433d-a0a7-7d245551bafb\",
        \n                    \"large\": \"https://thumbnailer.mixcloud.com/unsafe/300x300/profile/7/4/2/9/b4c2-b404-433d-a0a7-7d245551bafb\",
        \n                    \"640wx640h\": \"https://thumbnailer.mixcloud.com/unsafe/640x640/profile/7/4/2/9/b4c2-b404-433d-a0a7-7d245551bafb\",
        \n                    \"medium_mobile\": \"https://thumbnailer.mixcloud.com/unsafe/80x80/profile/7/4/2/9/b4c2-b404-433d-a0a7-7d245551bafb\",
        \n                    \"small\": \"https://thumbnailer.mixcloud.com/unsafe/25x25/profile/7/4/2/9/b4c2-b404-433d-a0a7-7d245551bafb\",
        \n                    \"thumbnail\": \"https://thumbnailer.mixcloud.com/unsafe/50x50/profile/7/4/2/9/b4c2-b404-433d-a0a7-7d245551bafb\"\n
        \               }\n            }, \n            \"key\": \"/boci/si-those-days-enr42/\",
        \n            \"created_time\": \"2017-09-29T07:15:37Z\", \n            \"audio_length\":
        3076, \n            \"slug\": \"si-those-days-enr42\", \n            \"favorite_count\":
        186, \n            \"listener_count\": 1913, \n            \"name\": \"Si
        - Those Days [enr42]\", \n            \"url\": \"https://www.mixcloud.com/boci/si-those-days-enr42/\",
        \n            \"pictures\": {\n                \"medium\": \"https://thumbnailer.mixcloud.com/unsafe/100x100/extaudio/1/6/6/0/c964-58a3-4121-bad8-a77f920c3d01\",
        \n                \"768wx768h\": \"https://thumbnailer.mixcloud.com/unsafe/768x768/extaudio/1/6/6/0/c964-58a3-4121-bad8-a77f920c3d01\",
        \n                \"320wx320h\"[...]
