---
http_interactions:
- request:
    method: get
    uri: http://api.mixcloud.com/spartacus/feed/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"paging\": {\n        \"previous\": \"http://api.mixcloud.com/spartacus/feed/?limit=20&since=2018-02-28+18%3A20%3A05\",
        \n        \"next\": \"http://api.mixcloud.com/spartacus/feed/?limit=20&until=2017-07-31+19%3A23%3A02\"\n
        \   }, \n    \"data\": [\n        {\n            \"from\": {\n                \"url\":
        \"https://www.mixcloud.com/spartacus/\", \n                \"username\": \"spartacus\",
        \n                \"name\": \"Spartacus\", \n                \"key\": \"/spartacus/\",
        \n                \"pictures\": {\n                    \"medium\": \"https://thumbnailer.mixcloud.com/unsafe/100x100/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"320wx320h\": \"https://thumbnailer.mixcloud.com/unsafe/320x320/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"extra_large\": \"https://thumbnailer.mixcloud.com/unsafe/600x600/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"large\": \"https://thumbnailer.mixcloud.com/unsafe/300x300/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"640wx640h\": \"https://thumbnailer.mixcloud.com/unsafe/640x640/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"medium_mobile\": \"https://thumbnailer.mixcloud.com/unsafe/80x80/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"small\": \"https://thumbnailer.mixcloud.com/unsafe/25x25/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\",
        \n                    \"thumbnail\": \"https://thumbnailer.mixcloud.com/unsafe/50x50/profile/d/f/e/f/d1a8-3932-47e1-bbd3-ac5fd2144d80.jpg\"\n
        \               }\n            }, \n            \"title\": \"listened to\",
        \n            \"url\": \"https://www.mixcloud.com/spartacus/feed/#566658648\",
        \n            \"key\": \"/spartacus/feed/566658648/\", \n            \"created_time\":
        \"2018-02-28T18:20:05Z\", \n            \"cloudcasts\": [\n                {\n
        \                   \"tags\": [\n                        {\n                            \"url\":
        \"https://www.mixcloud.com/discover/neptunian/\", \n                            \"name\":
        \"Neptunian\", \n                            \"key\": \"/discover/neptunian/\"\n
        \                       }, \n                        {\n                            \"url\":
        \"https://www.mixcloud.com/discover/frisky-radio/\", \n                            \"name\":
        \"Frisky radio\", \n               [...]
