---
http_interactions:
- request:
    method: get
    uri: http://api.mixcloud.com/spartacus/following/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"paging\": {\n        \"previous\": \"http://api.mixcloud.com/spartacus/following/?limit=20&since=2017-07-13+15%3A04%3A48\",
        \n        \"next\": \"http://api.mixcloud.com/spartacus/following/?limit=20&until=2015-01-06+11%3A32%3A10\"\n
        \   }, \n    \"data\": [\n        {\n            \"url\": \"https://www.mixcloud.com/chromacast/\",
        \n            \"username\": \"chromacast\", \n            \"name\": \"Chromacast\",
        \n            \"key\": \"/chromacast/\", \n            \"pictures\": {\n                \"medium\":
        \"https://thumbnailer.mixcloud.com/unsafe/100x100/profile/f/d/2/a/2e74-34bb-4611-8c3a-253a9e1cd675\",
        \n                \"320wx320h\": \"https://thumbnailer.mixcloud.com/unsafe/320x320/profile/f/d/2/a/2e74-34bb-4611-8c3a-253a9e1cd675\",
        \n                \"extra_large\": \"https://thumbnailer.mixcloud.com/unsafe/600x600/profile/f/d/2/a/2e74-34bb-4611-8c3a-253a9e1cd675\",
        \n                \"large\": \"https://thumbnailer.mixcloud.com/unsafe/300x300/profile/f/d/2/a/2e74-34bb-4611-8c3a-253a9e1cd675\",
        \n                \"640wx640h\": \"https://thumbnailer.mixcloud.com/unsafe/640x640/profile/f/d/2/a/2e74-34bb-4611-8c3a-253a9e1cd675\",
        \n                \"medium_mobile\": \"https://thumbnailer.mixcloud.com/unsafe/80x80/profile/f/d/2/a/2e74-34bb-4611-8c3a-253a9e1cd675\",
        \n                \"small\": \"https://thumbnailer.mixcloud.com/unsafe/25x25/profile/f/d/2/a/2e74-34bb-4611-8c3a-253a9e1cd675\",
        \n                \"thumbnail\": \"https://thumbnailer.mixcloud.com/unsafe/50x50/profile/f/d/2/a/2e74-34bb-4611-8c3a-253a9e1cd675\"\n
        \           }\n        }, \n        {\n            \"url\": \"https://www.mixcloud.com/NourishPodcast/\",
        \n            \"username\": \"NourishPodcast\", \n            \"name\": \"Nourish\",
        \n            \"key\": \"/NourishPodcast/\", \n            \"pictures\": {\n
        \               \"medium\": \"https://thumbnailer.mixcloud.com/unsafe/100x100/profile/3/a/3/5/7d8a[...]
