---
http_interactions:
- request:
    method: get
    uri: http://api.mixcloud.com/spartacus/followers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"paging\": {\n        \"previous\": \"http://api.mixcloud.com/spartacus/followers/?limit=20&since=2018-03-13+14%3A41%3A01\",
        \n        \"next\": \"http://api.mixcloud.com/spartacus/followers/?limit=20&until=2017-07-26+21%3A16%3A04\"\n
        \   }, \n    \"data\": [\n        {\n            \"url\": \"https://www.mixcloud.com/ckadir/\",
        \n            \"username\": \"ckadir\", \n            \"name\": \"Kadir \\u00c7imen\",
        \n            \"key\": \"/ckadir/\", \n            \"pictures\": {\n                \"medium\":
        \"https://thumbnailer.mixcloud.com/unsafe/100x100/profile/e/a/e/8/d912-dcbd-4b1c-b93c-e65eb2968946\",
        \n                \"320wx320h\": \"https://thumbnailer.mixcloud.com/unsafe/320x320/profile/e/a/e/8/d912-dcbd-4b1c-b93c-e65eb2968946\",
        \n                \"extra_large\": \"https://thumbnailer.mixcloud.com/unsafe/600x600/profile/e/a/e/8/d912-dcbd-4b1c-b93c-e65eb2968946\",
        \n                \"large\": \"https://thumbnailer.mixcloud.com/unsafe/300x300/profile/e/a/e/8/d912-dcbd-4b1c-b93c-e65eb2968946\",
        \n                \"640wx640h\": \"https://thumbnailer.mixcloud.com/unsafe/640x640/profile/e/a/e/8/d912-dcbd-4b1c-b93c-e65eb2968946\",
        \n                \"medium_mobile\": \"https://thumbnailer.mixcloud.com/unsafe/80x80/profile/e/a/e/8/d912-dcbd-4b1c-b93c-e65eb2968946\",
        \n                \"small\": \"https://thumbnailer.mixcloud.com/unsafe/25x25/profile/e/a/e/8/d912-dcbd-4b1c-b93c-e65eb2968946\",
        \n                \"thumbnail\": \"https://thumbnailer.mixcloud.com/unsafe/50x50/profile/e/a/e/8/d912-dcbd-4b1c-b93c-e65eb2968946\"\n
        \           }\n        }, \n        {\n            \"url\": \"https://www.mixcloud.com/Beatmantra/\",
        \n            \"username\": \"Beatmantra\", \n            \"name\": \"Beatmantra\",
        \n            \"key\": \"/Beatmantra/\", \n            \"pictures\": {\n                \"medium\":
        \"https://thumbnailer.mixcloud.com/unsafe/100x100/profile/a/2/7/1/9ea9-67e4-4439[...]
